In [ ]:
#Data type and structure

1. What are data structures, and why are they important ?

Ans:- Data structures play a pivotal role in computer science and programming, as they are essential for storing, organizing, and manipulating data efficiently. Python, a versatile and popular programming language, provides a wide array of data structures to accommodate various needs.

2. Explain the difference between mutable and immutable data types with examples.

Ans:- In mutable, mutable objects are those who change there values and content, modified or update after they have been created.
Examples: Include lists, dictionaries, and sets in Python. 
                                                                    AND
In immutable, immutable objects are those who can not change there values and content.
Example: Include strings, tuples, and integers in Python

3. What are the main differences between lists and tuples in Python?

Ans:- Lists are mutable, meaning their elements can be modified (added, removed, or changed) after the list has been created.
Tuples are immutable, meaning their elements cannot be changed once the tuple is created. Any attempt to modify a tuple will result in an error.

4. Describe how dictionaries store data.

Ans:- Dictionaries are key-value pairs that allow you to store and retrieve data based on a unique key. The keys must be immutable, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.

5. Why might you use a set instead of a list in Python?

Ans:- Sets inherently store only unique elements. If you need a collection where duplicate values are automatically removed, a set is the ideal choice. Lists, on the other hand, allow for duplicate elements.

6. What is a string in Python, and how is it different from a list?

Ans:- In Python, a string is an immutable sequence of characters, used to represent text. A list in Python is a mutable, ordered sequence of items. Unlike strings, lists can contain elements of different data types (e.g., numbers, strings, or even other lists), and their contents can be modified after creation.

7. How do tuples ensure data integrity in Python?

Ans:- Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed. This immutability directly contributes to data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans:- A hash table is a data structure that implements an associative array or dictionary, which maps keys to values. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. The goal is to provide fast average-case time complexity for operations like insertion, deletion, and retrieval.

9. Can lists contain different data types in Python?

Ans:- Yes

10. Explain why strings are immutable in Python.

Ans:- Strings are immutable in Python, meaning their content cannot be changed after they are created. Any operation that appears to modify a string actually results in the creation of a new string object in memory.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans:- Dictionaries offer significant advantages over lists for certain tasks in Python, primarily when data needs to be accessed or organized by a specific identifier rather than by sequential order.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans:- When representing a collection of related, heterogeneous data that should remain constant throughout the program's execution, such as a record or a fixed set of coordinates.

13. How do sets handle duplicate values in Python?

Ans:- When attempting to add a value that already exists within a set, the set simply ignores the new addition. This means that if you initialize a set with duplicate values or try to add a duplicate value using the add() method, the set will only retain one instance of that value.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans:- The in keyword in Python functions differently when used with lists and dictionaries due to their underlying data structures and how they store and retrieve data.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans:- No, the elements of a tuple cannot be modified directly after the tuple has been created. Tuples in Python are immutable, which means their contents cannot be changed once they are defined.

16. What is a nested dictionary, and give an example of its use case?

Ans:- A nested dictionary is a dictionary in which the values associated with some keys are themselves other dictionaries. This structure allows for the representation of hierarchical or complex data, where information can be organized in a multi-layered fashion.

17. Describe the time complexity of accessing elements in a dictionary.

Ans:- This means that, on average, the time it takes to retrieve a value associated with a key does not significantly increase as the size of the dictionary grows.

18. In what situations are lists preferred over dictionaries?

Ans:- Lists can contain duplicate values, and each instance maintains its distinct position within the sequence. Lists maintain the insertion order of elements. If the sequence of items is crucial, such as in a queue, stack, or a series of steps, a list is the appropriate choice.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:- Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:- Lists: Elements in a list are retrieved by their integer index, which represents their position within the ordered sequence. Indices start from 0 for the first element.
Dictionaries: Elements in a dictionary are retrieved by their unique key. Keys are user-defined and can be of various immutable data types (e.g., strings, numbers, tuples).

Pratical Questions.

1. Write a code to create a string with your name and print it.

In [3]:
Name = "Sumant raj"
Name

'Sumant raj'

2.Write a code to find the length of the string "Hello World".

In [4]:
string = "Hello world"
len(string)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
text = "hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
shopping_list = "banana, mango, apple"
shopping_list.replace("apple", "orange")

'banana, mango, orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
list_number = [1, 2, 3, 4, 5]
list_number

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [15]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [20]:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(f"The minimum number in the tuple is: {minimum_number}")

The minimum number in the tuple is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
my_tuple = ('dog', 'cat', 'rabbit')
element_to_find = 'cat'

try:
    index = my_tuple.index(element_to_find)
    print(f"The index of '{element_to_find}' is: {index}")
except ValueError:
    print(f"'{element_to_find}' is not found in the tuple.")

The index of 'cat' is: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits_tuple = ("apple", "banana", "orange", "kiwi")
if "kiwi" in fruits_tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set_method = set1.intersection(set2)
print(f"Intersection using intersection() method: {intersection_set_method}")
intersection_set_operator = set1 & set2
print(f"Intersection using & operator: {intersection_set_operator}")

Intersection using intersection() method: {2, 3}
Intersection using & operator: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
person_info = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person_info)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
# Create a list
my_list = [10, "hello", True, 3.14]

# Create a tuple
my_tuple = (20, "world", False, 2.71)

# Create a dictionary
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the list
print("My List:", my_list)

# Print the tuple
print("My Tuple:", my_tuple)

# Print the dictionary
print("My Dictionary:", my_dictionary)

My List: [10, 'hello', True, 3.14]
My Tuple: (20, 'world', False, 2.71)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [34]:
import random

# Create an empty list to store the random numbers
random_numbers = []

# Generate 5 random numbers between 1 and 100 (inclusive)
for _ in range(5):
    random_numbers.append(random.randint(1, 100))

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[18, 26, 26, 56, 79]

28. Write a code to create a list with strings and print the element at the third index.

In [35]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [36]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'b': 4} # 'b' is a duplicate key

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 4, 'c': 3}

30. Write a code to convert a list of strings into a set.

In [37]:
string_list = ["apple", "banana", "orange", "apple", "grape", "banana"]
string_set = set(string_list)
print(string_set)

{'grape', 'apple', 'orange', 'banana'}